# NeonDB Serverless PostgreSQL Connection String
DATABASE_URL="postgresql://user:password@ep-sample-pooler.us-east-2.aws.neon.tech/enerjanta?sslmode=require"

# Analytics Placeholders
NEXT_PUBLIC_GA_ID="G-XXXXXXXXXX"
NEXT_PUBLIC_CLARITY_ID="XXXXXXXXXX"
